body{
	margin:0;
}

.header{
	width:100%;
	border-bottom: solid 1px #666666;
	float:left;
}


ul.nav{
	list-style-type:none;
	text-align:right;
	margin-right:10px; 
}

ul.nav li{
	display:inline-block;
	padding:16px;
}

h1.title{
	margin-left:26px;
}

footer{
	width:100%;
	margin-left: auto;
	margin-right:auto;
	border-top:solid 1px #666666;
	text-align:center;
	margin-top:48px;
	float:left;
}

footer img{
	padding:12px;
}

.hero{
	display:block;
	width:100%;
	height:400px;
	text-align:center;
	float:left;
	background-image: url("img/hero.jpeg");
	background-position:center center;
	background-size:cover;
	color:white;
}

.hero h1 {
	margin-top: 74px;
}

.profile{
	width:300px;
	height:auto;
	border-radius: 50%;
	border: 1px solid #b72222;
    padding: 5px;

}	

/*layout*/	
.container {
	width:960px;
	margin:0 auto;
	clear:both;
	padding-top:48px;
}

.half{
	display:inline-block;
	width:50%;
	float:left;
}

.quarter{
	display:inline-block;
	width:25%;
	float:left;
}